<!DOCTYPE html>
<HTML>
<HEAD>
    <TITLE> ZTREE DEMO </TITLE>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="resources/css/zTreeStyle/zTreeStyle.css" type="text/css">
    <link rel="stylesheet" href="resources/css/jsoneditor/dist/jsoneditor.min.css" type="text/css">
</HEAD>
<BODY>
<div>
    <ul id="treeDemo" class="ztree"></ul>
</div>
<div ng-app="jsonApp" ng-controller="jsonController">
    <div ng-jsoneditor ng-model="obj.data" options="obj.options" style="width: 400px; height: 300px;">

    </div>

    <div ng-jsoneditor ng-model="obj.text" prefer-text="true"/>
</div>
<script type="text/javascript" src="resources/framework/jquery-1.9.1.min.js"></script>
<script type="text/javascript" src="resources/framework/jquery.ztree.all.min.js"></script>
<script type="text/javascript" src="resources/framework/angular-1.3.0.14/angular.min.js"></script>
<script type="text/javascript" src="resources/framework/jsoneditor/jsoneditor.min.js"></script>
<script type="text/javascript" src="resources/framework/jsoneditor/ng-jsoneditor.min.js"></script>

<SCRIPT LANGUAGE="JavaScript">
    jsonschema = {
        "$schema": "http://json-schema.org/draft-04/schema#",
        "title": "Product",
        "description": "A product from Acme's catalog",
        "type": "object",
        "properties": {
            "id": {
                "description": "The unique identifier for a product",
                "type": "integer"
            },
            "name": {
                "description": "Name of the product",
                "type": "string"
            },
            "price": {
                "type": "number",
                "minimum": 0,
                "exclusiveMinimum": true
            }
        },
        "required": ["id", "name", "price"]
    }
    var app = angular.module('jsonApp', ['ng.jsoneditor']);
    app.controller('jsonController', ['$scope', function ($scope) {
        $scope.obj = {data: '{}', options: {mode: 'code', schema: jsonschema}}
        $scope.btnClick = function () {
            $scope.obj.options.mode = 'code'
        }
    }])

    var zTreeObj;
    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {};
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {
            name: "test1", open: true, children: [
            {name: "test1_1"}, {name: "test1_2"}]
        },
        {
            name: "test2", open: true, children: [
            {name: "test2_1"}, {name: "test2_2"}]
        }
    ];
    $(document).ready(function () {
        zTreeObj = $.fn.zTree.init($("#treeDemo"), setting, zNodes);
    });

</SCRIPT>
</BODY>
</HTML>